## Import Datasets

In [1]:
import pandas as pd

# read csv file
df = pd.read_csv("./data/yellow_tripdata_2021-01.csv", nrows=100)
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

In [2]:
# convert columns to datetime format
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)

## SQL Connection

In [3]:
from sqlalchemy import create_engine

# create engine to connect to postgresql database
engine = create_engine("postgresql://root:root@localhost:5432/ny_taxi")

# test connection
engine.connect()

In [4]:
# get sql table schema from pandas dataframe
print(pd.io.sql.get_schema(df, name="yellow_taxi_data", con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

## Chunking Data

In [5]:
# create iterator to read csv file in chunks
df_iter = pd.read_csv("./data/yellow_tripdata_2021-01.csv", iterator=True, chunksize=100000)
df_iter

In [6]:
# get first chunk
df = next(df_iter)
print(len(df))
df.head()

100000

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

In [7]:
# convert columns to datetime format
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)

In [8]:
# see column names
df.head(n=0)

Empty DataFrame
Columns: [VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, RatecodeID, store_and_fwd_flag, PULocationID, DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge]
Index: []

In [9]:
# create table in postgresql database from pandas dataframe
# ! beware if table already exists it will be replaced (data will be lost)
df.head(n=0).to_sql("yellow_taxi_data", engine, if_exists="replace")

0

In [10]:
# append data to table in postgresql database from pandas dataframe
%time df.to_sql("yellow_taxi_data", engine, if_exists="replace")

CPU times: user 10.1 s, sys: 157 ms, total: 10.3 s
Wall time: 17.4 s

1000

In [11]:
# process all chunks by simple pipeline
from time import time

while True:
    try:
        t_start = time()

        # get next chunk
        df = next(df_iter)

        # convert columns to datetime format
        df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
        df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)

        # append data to table in postgresql database from pandas dataframe
        df.to_sql("yellow_taxi_data", engine, if_exists="append")

        t_end = time()

        # logging
        print(f"Chunk processed in {t_end - t_start} seconds")

    except StopIteration:
        print("All chunks processed")
        break

Chunk processed in 21.80322813987732 seconds
Chunk processed in 25.0610568523407 seconds
Chunk processed in 20.83381676673889 seconds
Chunk processed in 25.08015537261963 seconds
Chunk processed in 20.232237100601196 seconds
Chunk processed in 17.3513023853302 seconds
Chunk processed in 17.24012517929077 seconds
Chunk processed in 15.99648642539978 seconds
Chunk processed in 16.893310070037842 seconds
Chunk processed in 16.273163318634033 seconds
Chunk processed in 16.815515995025635 seconds

/tmp/ipykernel_43052/3022350227.py:9: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

Chunk processed in 16.483325719833374 seconds
Chunk processed in 10.396834135055542 seconds
All chunks processed

## Import Zone Data

Practicing SQL queries -> [SQL Refreshser](https://www.youtube.com/watch?v=QEcps_iskgg&list=PL3MmuxUbc_hJed7dXYoJw8DoCuVHhGEQb)

In [5]:
df_zones = pd.read_csv("./data/taxi+_zone_lookup.csv")
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [6]:
df_zones.to_sql("zones", engine, if_exists="replace")

265

### Implicit INNER JOIN

Joining two tables (`yellow_taxi_trips` and `zones`) on the column `LocationID` (`yellow_taxi_trips`) and `LocationID` (`zones`). Commonly use `WHERE` clause to join two tables.

```sql
SELECT
	tpep_pickup_datetime,
	tpep_dropoff_datetime,
	total_amount,
	CONCAT(zpu."Borough", ' / ', zpu."Zone") as "pickup_loc",
	CONCAT(zdo."Borough", ' / ', zdo."Zone") as "dropoff_loc"
FROM
	yellow_taxi_trips t,
	zones zpu,
	zones zdo
WHERE
	t."PULocationID" = zpu."LocationID" AND
	t."DOLocationID" = zdo."LocationID"
LIMIT 5;
```

### Explicit INNER JOIN

Joining two tables (`yellow_taxi_trips` and `zones`) on the column `LocationID` (`yellow_taxi_trips`) and `LocationID` (`zones`). Commonly use `JOIN` clause to join two tables.

```sql
SELECT
	tpep_pickup_datetime,
	tpep_dropoff_datetime,
	total_amount,
	CONCAT(zpu."Borough", ' / ', zpu."Zone") as "pickup_loc",
	CONCAT(zdo."Borough", ' / ', zdo."Zone") as "dropoff_loc"
FROM
	yellow_taxi_trips t JOIN zones zpu
		ON t."PULocationID" = zpu."LocationID"
	JOIN zones zdo
		ON t."DOLocationID" = zdo."LocationID"
LIMIT 5;
```

### Checking for NULL values

```sql
SELECT
	tpep_pickup_datetime,
	tpep_dropoff_datetime,
	total_amount,
	"PULocationID",
	"DOLocationID"
FROM
	yellow_taxi_trips
WHERE
	"PULocationID" IS NULL OR
	"DOLocationID" IS NULL;
```

### Checking LocationID not in `zones` Table

```sql
SELECT
	tpep_pickup_datetime,
	tpep_dropoff_datetime,
	total_amount,
	"PULocationID",
	"DOLocationID"
FROM
	yellow_taxi_trips
WHERE
	"PULocationID" NOT IN (SELECT "LocationID" FROM zones) OR
	"DOLocationID" NOT IN (SELECT "LocationID" FROM zones);
```

### LEFT JOIN or RIGHT JOIN

```sql
SELECT
	tpep_pickup_datetime,
	tpep_dropoff_datetime,
	total_amount,
	CONCAT(zpu."Borough", ' / ', zpu."Zone") as "pickup_loc",
	CONCAT(zdo."Borough", ' / ', zdo."Zone") as "dropoff_loc"
FROM
	yellow_taxi_trips t LEFT JOIN zones zpu
		ON t."PULocationID" = zpu."LocationID"
	LEFT JOIN zones zdo
		ON t."DOLocationID" = zdo."LocationID"
LIMIT 5;
```

### GROUP BY (Aggregation) and ORDER BY

```sql
SELECT
	CAST(tpep_pickup_datetime AS DATE) AS "pickup_date",
	COUNT(1),
	MAX(total_amount)
FROM
	yellow_taxi_trips t
GROUP BY
	CAST(tpep_pickup_datetime AS DATE)
ORDER BY
	"pickup_date" ASC;
```

### Multiple Aggregations

```sql
SELECT
	CAST(tpep_pickup_datetime AS DATE) AS "pickup_date",
	"DOLocationID",
	COUNT(1),
	MAX(total_amount),
	AVG(total_amount)
FROM
	yellow_taxi_trips t
GROUP BY
	1, 2
ORDER BY
	"pickup_date" ASC,
	"DOLocationID" ASC
LIMIT 100;
```